// ///////Paleta de prueba///////
// $negro: #000000;
// $blanco: #FFFFFF;
// $gris: #E8E8E8;
// $azul: #005E9B;

// ///////Paleta clara//////
// $negro: #000000;
// $blanco: #ffffff;
// $hero-blue: #4C6C9F;
// $grey-blue: #AAB8C1;
// $minty: #C7D8C6;
// $light: #ECDBC1;
// $powder: #CCCBC7;
// $rojizo: #B51D00;

///////Paleta oscura///////
$negro: #000000;
$blanco: #ffffff;
$rojizo: #B51D00;
$fresh: #f7f5e6;
$clean: #e8e8e8;
$sunshine: #52658f;
$vermilion: #333a56;

///////Tipografía//////
$scale-factor: 1.414;
$small-size: 1.1315rem;
$base-size: 1.6rem;
$heading-4: 2.2624rem;
$heading-3: 3.199rem;
$heading-2: 4.5234rem;
$heading-1: 6.3961rem;
$space: $base-size * $scale-factor;